{% extends 'admin/layout.html.twig' %}

{% block title %}{{ parent() }} : Liste des Tâches{% endblock %}

{% block main %}
    <h1>Liste de Tâches</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Projet</th>
                <th>Nom</th>
                {#<th>Description</th>#}
                <th>Jour</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td><a href="{{ path('admin_projet_show', {id: tache.projet.id}) }}">{{ tache.projet.name }}</a></td>
                <td>{{ tache.nom }}</td>
                {#<td>{{ tache.description }}</td>#}
                <td>{{ tache.jour ? tache.jour|date('d/m/Y') : '' }}</td>
                <td>{{ tache.duree ? tache.duree|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_tache_show', {'id': tache.id}) }}" class="btn btn-sm btn-default">
                        <i class="fa fa-eye" aria-hidden="true"></i>Voir
                    </a>
                    <a href="{{ path('admin_tache_edit', {'id': tache.id}) }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i> Modifier
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune tâche trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block sidebar %}
    <div class="section actions">

        <a href="{{ path('admin_tache_new') }}" class="btn btn-block btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> Nouvelle tache
        </a>
    </div>
{% endblock %}
