{{ form_start(form) }}


{{ form_widget(form) }}
<button class="btn btn-primary">
    <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('Enregistrer') }}
</button>

{% if include_annulation|default(false) %}
    <a href="{{ path('admin_projet_index') }}" class="btn btn-danger">
        <i class="fa fa-ban" aria-hidden="true"></i> Annuler
    </a>
{% endif %}
{{ form_end(form) }}
